@import 'global';

body {
  background-color: red;
  color: blue;
}

/* MANY MANY COMMENTS */
.MANYMANYMANYMANYMANY { color: red; }

.container {
  width: 1000px;
  .content {
    padding: 20px;
    background-color: #FFF;
    color: $primary-color;
  }
}
